<h1>Add an Album</h1>
<p>Add an Album here: </p>

<form action="/artists" method="post">
  <label for="albumTitle">Album Name</label>
  <input id="albumTitle" name="albumtTitle" type="text">
  <button type="submit">Add That Album</button>
</form>

<p><a href="/">Go Home</a></p>
<p><a href="/artists">Back to the Artist page!!!!</a></p>